
.student-style{
  border: black solid 2px;
}

.student-main-style{
  display: flex;
  padding: 30px;
  

  
}

body{
  background-color: rgb(220, 205, 186);
}

.items1{
  background-color: aliceblue;
  padding: 20px;
}
.items2{
  background-color: rgb(228, 73, 30);
  padding: 20px;
}
.items3{
  background-color: rgb(60, 199, 141);
  padding: 20px;
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: -15px;
}

.bio{
  background-color: bisque;
  padding: 20px;
  height: 200px;
}